<nav class="navbar navbar-dark bg-dark text-white">
     <div class="container">
          <a class="navbar-brand p-0 m-0" href="#">
               List-Shopping
          </a>
     </div>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav text-white">
               <a class="nav-link btn btn-outline-success" routerLink="/">Home</a>
               <a class="nav-link btn btn-outline-success" routerLink="/add">New</a>
          </div>
     </div>
</nav>
